.container{
    background-color: #121212;
    margin-bottom: 10%;
    /* outline: red 2px solid; */
}

.box {
    background-color: #31363B;
    box-shadow: 0 0 1rem rgba(255,255,255,00.5rem);
    margin: 5% 0;
    color:white;
    /* border : 0.1rem solid white; */
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 80%;
    margin-left: 5%;
    /* outline: 2px white solid ; */

}

.nickname{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-shadow: 0 0 1rem white;
    /* outline: 2px solid blue; */
}

.title{
}

.content{
    overflow: scroll; 
    height: 40rem;
    /* outline: 2px solid blueviolet; */
}

/* .content::-webkit-scrollbar{
    display: none;
} */

.middle{
    /* outline: 2px solid yellow; */
}

.left{
    /* outline: 2px solid violet; */
}

.profile_img {
    width: 65%;
    border-radius: 60%;
    margin: 10%;
    max-width: 100%;
    /* outline: 2px solid green; */
}

.createbutton {
    text-align: end;
}