.container {
    position: relative;
    background-color: #1a1b1e;
    width: 100%;
    height: 90vh;
    overflow: hidden;
  }

.contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.contents::-webkit-scrollbar{
  display: none;
}

.middle {
  width: 80%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.resultbox{
  width: 100%;
}
