.container{
    /* outline: 2px solid red; */
    margin-top: 5%;
}

.review{
    margin:1%;
    border-radius: 0.5rem;
    background-color: white;
    /* outline: 2px solid blue; */
}

.title{
    color:white;
    margin:1rem 1rem 1rem 1rem;
    /* outline: 2px solid violet; */
}

.schedule{
    color:white;
    margin:1rem 1rem 0rem 1rem;

}

.bottom{
    /* outline: 2px solid green; */
}

.up{
    /* outline: 2px solid firebrick; */
}


.card{
    /* outline: 2px solid skyblue; */
}

.homeguestbook{
    /* outline: 2px solid snow; */
}


.cardbox {
    /* display: flex;
    flex-wrap: wrap; */
    /* overflow: hidden; */
    margin: 0 auto;
    /* outline: 2px solid white; */
}

.poster{
    /* outline: 2px solid blue; */
}

.posterbox{
    margin: 0 auto;
    /* outline: 2px solid greenyellow; */
}

