.container{
    background-color: #121212;
    outline: red 2px solid;
}

.box {
    background-color: #31363B;
    box-shadow: 0 0 1rem rgba(255,255,255,00.5rem);
    margin: 1%;
    color:white;
    width: 60%;
    margin-left: 5%;
    outline: 2px red solid ;

}

.title{
}

.content{
    outline: 2px solid blueviolet;
}

.right{
    outline: 2px solid yellow;
}

.left{
    background-image: url('') ;
    outline: 2px solid violet;
}

.poster {
    width: 65%;
    margin: 10%;
    max-width: 100%;
    outline: 2px solid green;
}

  

  

  

  