.container {
    border: 2px solid red;
  }
  
  .buttonContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
  }
  .button {
    border: 2px solid black;
  
  }
  
  .active {
    background-color: red; 
  }