.container {
  outline: 2px solid #ff0000; /* 빨간색 아웃라인 */
}

.boxcover {

  outline: 2px solid #00ff00; /* 초록색 아웃라인 */
}

.box {
  outline: 2px solid #0000ff; /* 파란색 아웃라인 */
}

.bar {

  outline: 2px solid #ff00ff; /* 보라색 아웃라인 */
}

.list-type-buttons {
  outline: 2px solid #ffa500; /* 오렌지색 아웃라인 */
}

.listTypeButton {
  margin-right: 10px;
  font-size: 16px;

  outline: 2px solid #00ffff; /* 청록색 아웃라인 */
}

.totalbox {

  outline: 2px solid #800080; /* 보라색 아웃라인 */
}

.stagelist {
  outline: 2px solid #008000; /* 진한 초록색 아웃라인 */
}

.cardRow {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  outline: 2px solid palevioletred; 
  /* 카드를 한 줄에 5개씩 배열하기 위한 스타일 */
}

.cardItem {
  padding: 5px;
  width: 20%;
  outline: 2px solid black; 
  /* 카드를 한 줄에 5개씩 배열하기 위한 스타일 */
}

