.container {
    width: 100%;
    height: 90vh;
    background-color: #1a1b1e;
    display: flex;
    justify-content: center;
  }

.signinbox {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1000px) {
    .signinbox {
      width: 70%;
    }
  }

@media (max-width: 600px) {
  .signinbox {
    width: 90%;
  }
}

.boxcontent {
    flex: 0.8;
    margin-top: 10%;
    margin-bottom: 10%;
}

.title {
    margin-left: 10%;
    margin-bottom: 5%;
}

.title h3{
  color: white;
}

.title p{
  color: white;
}

.body {
    display: flex;
    justify-content: center;
}

.loginform {
    width: 80%;
}

.inputbox {
    margin-bottom: 5%;
}

.inputbox .inputgroup {
  color: white;
}

.submitbutton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loginButton {
  width: 100%;
  background-color: #9D72FF;
  padding: 5px;
  border-radius: 10px;
}

.loginButton:hover {
  background-color: #9D72FF;
  box-shadow: 0 0 5px #9D72FF,
              0 0 25px #9D72FF
}

.tosignup span{
  margin-right: 5px;
}
.tosignup a{
  text-decoration: none;
  color: #9D72FF;
}
