.container {
    padding-top: 20px;
    width: 100%;
    background-color: #1a1b1e;
    display: flex;
    justify-content: center;
}

.signupbox {
    /* border: 1px solid white; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 1000px) {
    .signupbox {
      width: 70%;
    }
  }
  
  @media (max-width: 600px) {
    .signupbox {
      width: 90%;
    }
  }

.boxcontent {
  width: 100%;
  /* border : 3px solid #42424A; */
  border-radius: 20px;
  flex: 0.8;
  /* background-color: #202027; */
  margin-top: 10%;
  margin-bottom: 10%;
}

.title {
  /* display: flex;
  justify-content: center; */
  margin-left: 5%;
}

.title h3 {
  color: white;
}

.title p {
  color: white;
}

.body {
    width: 90%;
    /* border: 1px solid yellow; */
}

.signupform {
    /* border: 1px solid red; */
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.inputform {
    width: 100%;
    /* border: 1px solid white; */
}

.inputform span {
  color: white;
}

.inputform .error {
  margin-left: 10px;
  display: inline-block;
}

.signupformbox {
    display: flex;
    justify-content: center;
}

.inputbox {
    margin-bottom: 10px;
    width: 100%;
}

.submitbutton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.simptip {
    display: flex;
}

.nickCheck {
    display: flex;
    justify-content: center;
}

.emailselect {
  width: 40%;
  height: 40px;
}

.checkbutton{
    width: 20%;
    height: 40px;
    background-color: #9D72FF;
    border-radius: 10px;
    color: white;
}

.checkbutton:hover {
  background-color: #9D72FF;
  box-shadow: 0 0 5px #9D72FF,
              0 0 25px #9D72FF;
}

.disabledbutton {
  width: 20%;
  height: 40px;
  background-color: #6E48CC;
  border-radius: 10px;
  color: #cccccc;
}

.submitbutton .abledSubmit {
  padding: 10px;
  color: white;
  border-radius: 5px;
  background-color: #9D72FF;
}
.submitbutton .abledSubmit:hover {
  background-color: #9D72FF;
  box-shadow: 0 0 5px #9D72FF,
              0 0 25px #9D72FF;
}

.disabledSubmit {
  background-color: #6E48CC;
  padding: 10px;
  color: #cccccc;
  border-radius: 5px;
}




.mailCheck {
  display: flex;
  justify-content: center;
}

.mailCheck Button{
  width: 30%;
  height: 40px;
}

@media (max-width: 950px) {
    .nickCheck Button {
      font-size: 7px;
    }
  }

.eyeIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 2px;
  height: 30px;
  font-size: 22px;
  cursor: pointer;
  color: #9D72FF;
}