.container {
    width: 100%;
    height: 90vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

.signupbox {
    border: 1px solid white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside {
    margin-left: 5%;
}

.boxcontent {
    border : 3px solid blue;
    flex: 0.8;
    background-color: #31363B;
}

.title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    color: white;
    background-color: rgb(130, 130, 130);
}

.body {
    display: flex;
    justify-content: center;
}

.signupform {
    width: 80%;
    border: 1px solid red;
    margin-top: 5%;
}

.signupformbox {
    display: flex;
    justify-content: center;
}

.inputbox {
    border: 1px solid green;
    margin-bottom: 10px;
}

.submitbutton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.simptip {
    display: flex;
}