.container {
  width: 20rem;
  height: 17rem;
  position: relative;
  margin: 2% 1%;
  /* overflow: hidden; */
  /* Add other styles for your card component */
}

.poster {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  
  .content {
    z-index: 1;
    position: absolute;
    bottom: 8%;
    left: 10%;
    width: 80%;
    display: flex;
    /* padding: 10px; */
    /* opacity: 0; */
    /* transform: translateY(100%); */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    justify-content: space-between;
    align-items: center;
  }
  
  /* .component:hover .poster {
    transform: scale(1.5);
  } */
  
  .component:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
  
  .content h3 {
    color: white;
    font-size: 18px;
  }
  
  .content Button {
    /* width: 40%; */
    /* border: 1px solid blue; */
    color: white;
    border: none;
    cursor: pointer;
  }

  .content .button {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }
  
  .title{
    align-self: start;
    color: white;
    text-shadow: 0 1px #BDBDBD;
  }

  .font {
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
  }

  .button{
    height: 60%;
  }


  .blinkingtext {
    animation: blink-animation 2s infinite;
  }
  
  @keyframes blink-animation {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }

  .statebox{
    margin-top: 5%;
  }

  .w100h100{
    width: 100%;
    height: 100%;
  }