.container {
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    position: relative;
    transition: opacity 1s ease;
  }

  .container:hover {
    cursor: pointer;
    transform: scale(1.1);
    /* background-color: #31363B; */
    border-radius: 20px;
    box-shadow: 0 0 1px #CE96FB,
                0 0 5px #CE96FB,
                0 0 10px #CE96FB,
                0 0 20px #CE96FB;
/* -webkit-box-reflect:below 1px linear-gradient(transparent, #0005); */
  }
  
  .content {
    width: 100%;
  }
  
  .thumbnail {
    width: 100%;
    /* border: 1px solid yellow; */
    border-radius: 20px;
  }
  
  .posterContainer {
    width: 100%;
    padding-bottom: 66%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    transform-origin: bottom center;
    border-radius: 20px;
  }
  
  .poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
  }
  
  .cardText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  header {
    margin-left: 5px;
  }

  footer {
    margin-left: 5px;
  }
  
  .tagbutton {
    text-decoration: none;
    color: #9D72FF;
  }


  .info {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  
  .posterContainer {
    position: relative;
  }
  
  .overlayContainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  .live {
    color: red;
    margin-right: 2%;
  }
  
  .reserve {
    color: yellow;
    margin-right: 2%;
  }
  
  .font {
    color: white;
    margin-left: 2%;
    z-index: 1;
  }
