@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Permanent+Marker&display=swap');

.headercontainer {
  height: 70px;
}

/* .unitlist {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.logotext {
  padding-left: 5px;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 2px;
  color: white;
  font-size: 2rem;
  margin-left: 10px;
}
.logotext:hover {
  /* border-radius: 30px; */
  /* background: #03e9f4; */
  text-shadow: 0 0 5px #CE96FB,
               0 0 25px #CE96FB,
               0 0 50px #CE96FB,
               0 0 200px #CE96FB;
}

.linkunit{
  border-radius: 10px;
  margin: 5px;
}

.linkunit:hover {
  text-shadow: 0 0 10px #CE96FB,
               0 0 30px #CE96FB,
               0 0 60px #CE96FB,
               0 0 240px #CE96FB;
   /* -webkit-box-reflect:below 1px linear-gradient(transparent, #0005); */
}

.profilePicture {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.linkprofile {
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  height: 50px;
}

/* @media (max-width: 768px) {
    .hide-on-small-screen {
      display: none;
    }
    .hide-off-small-screen {
      display: flex;
    }
  } */
