/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.logotext {
  font-family: 'Raleway', sans-serif;
} */

@media (max-width: 768px) {
    .hide-on-small-screen {
      display: none;
    }
    .hide-off-small-screen {
      display: flex;
    }
  }
