.header {
    position: sticky;
    top: 0;
    z-index: 999; /* 다른 컨텐츠 위에 떠 있도록 설정 */
    background-color: #f1f1f1;
  }


  ::-webkit-scrollbar{width: 10px;}
  ::-webkit-scrollbar-track{background-color: #f2e3f6; border: 1px solid white;}
  ::-webkit-scrollbar-thumb{background-color: #9D72FF; border-radius: 10px;}