.card {
    padding: 20px;
    background-color: #121212;
    border-radius: 20px;
    width: 30%;
    display: flex;
    outline: 2px solid #FF0000; /* 빨간색 아웃라인 */
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid #00FF00; /* 초록색 아웃라인 */
  }
  
  .tumbnail {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    outline: 2px solid #0000FF; /* 파란색 아웃라인 */
  }
  
  .info {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid #FFFF00; /* 노란색 아웃라인 */
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid #FFA500; /* 주황색 아웃라인 */
  }
  