.container {
    display: flex;
    justify-content: center;
}

.box {
    width: 100%;
    border: 1px solid white;
}

.boxcover {
    width: 90%;
    border: 1px solid blue;
}

.totalbox {
    width : 100%;
    display: flex;
    justify-content: center;
}

.stagelist {
    width: 100%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;

}

.carousel {
    width: 90%;
    margin-bottom: 30px;
  }

  .selectbutton {
    
  }